.components-container {
	display: flex;
	flex-direction: column;
	gap: 5rem;
	align-items: center;
	justify-content: space-between;
}

.sidebar-container {
	align-self: flex-start;
}

.button-container {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;
	width: 100%;
	max-width: 600px;
}

.carousel-container {
	width: 50%;
	margin-bottom: 2rem;
}

.select-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 50%;
	margin-bottom: 10rem;
}
