.poi-container {
	display: flex;
	flex-direction: column;
	gap: 32px;
	width: 100%;
	padding: 32px;
}

.poi-header {
	margin: 0;
	font-size: var(--font-size-h1);
	font-weight: var(--font-weight-semibold);
	line-height: 3;
	color: var(--color-text-header);
}

.poi-gallery {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	justify-content: space-between;
}

.poi-sub-gallery {
	display: flex;
	flex-direction: column;
	gap: 16px;
	justify-content: space-between;
	min-width: 30%;
}

.poi-route-image {
	max-width: 100%;
}

.poi-route-image,
.poi-route-sub-image {
	flex-grow: 1;
	border-radius: 8px;
}

.poi-description {
	font-size: var(--font-size-small);
	line-height: 1.5;
}

@media (width <= 1300px) {
	.poi-sub-gallery {
		flex-direction: row;
	}
}
