.profile-container {
	display: flex;
	flex: 1;
	flex-direction: column;
	padding: 26px;
	background-color: var(--color-fill-grey);
}

.profile-title {
	align-self: flex-start;
	margin: 0;
	font-size: var(--font-size-h3);
	font-weight: var(--font-weight-semibold);
	color: var(--color-text-strong);
}

.profile-container > button {
	align-self: flex-start;
	width: 100px;
	line-height: 0.5;
	color: var(--color-text-error);
	background-color: var(--color-background-base);
	border: 2px solid var(--color-text-error);
}

.profile-container > button:hover,
.profile-container > button:focus,
.profile-container > button:disabled {
	background-color: var(--color-background-base);
}

.profile-container > button:focus::after {
	border: 2px solid var(--color-text-error);
}

@media (width <= 768px) {
	.profile-container > button {
		align-self: center;
	}

	.profile-container {
		padding: 24px;
	}
}
