.profile-container {
	display: flex;
	flex: 1;
	flex-direction: column;
	padding: clamp(6px, 2vw, 32px) clamp(14px, 6vw, 48px);
}

.profile-title {
	align-self: flex-start;
	margin: 0;
	font-size: var(--font-size-h3);
	font-weight: var(--font-weight-semibold);
	color: var(--color-text-strong);
}
