.profile-container {
	display: flex;
	flex: 1;
	flex-direction: column;
	padding: 24px;
	background-color: var(--color-fill-grey);
}

.profile-title {
	align-self: flex-start;
	margin: 0;
	font-size: var(--font-size-h3);
	font-weight: var(--font-weight-semibold);
	color: var(--color-text-strong);
}
