@font-face {
	font-family: "Inter";
	src: url("../fonts/Inter-Regular.otf") format("opentype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Inter";
	src: url("../fonts/Inter-Bold.otf") format("opentype");
	font-weight: 700;
	font-style: normal;
}
