* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	min-width: var(--container-min-width);
	min-height: 100vh;
	margin: 0;
	font-family: var(--font-family);
	font-size: var(--font-size);
	line-height: var(--line-height);
}

#root {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	white-space: nowrap;
	border: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
}
