* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	min-width: 320px;
	min-height: 100vh;
	margin: 0;
	font-family: var(--font-family);
	font-size: var(--font-size-small);
	line-height: 1.5;
	color: var(--color-text-strong);
	background-color: var(--color-background-base);
}

button,
a {
	outline-color: var(--color-stroke-focus);
}

#root {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	white-space: nowrap;
	border: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
}

html {
	scrollbar-color: var(--color-brand-1000) transparent;
	scrollbar-width: thin;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	background: transparent;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: var(--color-brand-1000);
	border: 2px solid transparent;
	border-radius: 12px;
}

input::-ms-reveal,
input::-ms-clear {
	display: none;
}
