:root {
	--color-base: hsl(0deg 0% 100%);
	--color-background-base: hsl(0deg 0% 100% / 100%);
	--color-brand-1000: hsl(162deg 91% 25% / 100%);
	--color-brand-800: hsl(162deg 91% 25% / 80%);
	--color-brand-200: hsl(162deg 91% 25% / 20%);
	--color-brand-50: hsl(162deg 91% 25% / 5%);
	--color-fill-weaker: hsl(162deg 100% 25% / 2%);
	--color-fill-weak: hsl(162deg 100% 25% / 4%);
	--color-fill-brand-strong: hsl(162deg 91% 25% / 100%);
	--color-fill-error-weak: hsl(0deg 100% 65% / 5%);
	--color-fill-hover: hsl(162deg 100% 20% / 4%);
	--color-fill-press: hsl(162deg 100% 20% / 100%);
	--color-fill-disabled: hsl(162deg 100% 20% / 30%);
	--color-fill-grey: hsl(162deg 10% 90% / 100%);
	--color-text-strong: hsl(162deg 100% 8% / 90%);
	--color-text-inverse-strong: hsl(0deg 0% 100% / 100%);
	--color-text-weak: hsl(162deg 100% 10% / 65%);
	--color-text-brand: hsl(162deg 91% 25% / 100%);
	--color-text-error: hsl(0deg 56% 50% / 100%);
	--color-stroke-strong: hsl(162deg 100% 15% / 45%);
	--color-stroke-selected: hsl(162deg 91% 25% / 100%);
	--color-stroke-weak: hsl(162deg 100% 20% / 10%);
	--color-stroke-focus: hsl(162deg 91% 25% / 100%);
	--color-stroke-error-strong: hsl(0deg 56% 50% / 80%);
	--color-icon-neutral: hsl(162deg 100% 15% / 45%);
	--color-icon-error: hsl(0deg 56% 50% / 80%);
	--color-shadow-weak: hsl(0deg 0% 0% / 3.9%);
	--color-shadow-strong: hsl(0deg 0% 0% / 7.8%);
	--font-family: "Inter", sans-serif;
	--font-size-display: 3.5rem;
	--font-size-h1: 2.5rem;
	--font-size-h2: 2rem;
	--font-size-h3: 1.5rem;
	--font-size-h4: 1.25rem;
	--font-size-small: 1rem;
	--font-size-tiny: 0.875rem;
	--font-size-large: 2.25rem;
	--font-weight-regular: 400;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;
}
