.container {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	font-family: var(--font-family);
}

.error-container {
	display: flex;
	flex-direction: column;
	gap: 64px;
	align-items: center;
	justify-content: space-between;
	width: 360px;
	height: 312px;
	letter-spacing: 0;
}

.error-message {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	height: 200px;
}

.error-number-label {
	height: 116px;
	margin: 0;
	font-size: 96px;
	font-weight: var(--font-weight-semibold);
	line-height: 100%;
	color: var(--color-text-strong);
	text-align: center;
}

.error-message__tittle {
	margin: 0;
	font-size: var(--font-size-h2);
	font-weight: var(--font-weight-semibold);
	color: var(--color-text-strong);
	text-align: center;
}

.error-description {
	height: 24px;
	margin: 0;
	font-size: var(--font-size-small);
	font-weight: var(--font-weight-regular);
	color: var(--color-text-weak);
	text-align: center;
}
