.container {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	font-family: var(--font-family);
}

.error-container {
	display: flex;
	flex-direction: column;
	gap: 60px;
	align-items: center;
	justify-content: space-between;
	width: 360px;
}

.error-message {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	min-height: 200px;
}

.error-number-label {
	padding: 20px;
	margin: 0;
	font-size: 6rem;
	font-weight: var(--font-weight-semibold);
	line-height: 100%;
	color: var(--color-text-strong);
	text-align: center;
}

.error-message-title {
	margin: 0;
	font-size: var(--font-size-h2);
	font-weight: var(--font-weight-semibold);
	color: var(--color-text-strong);
	text-align: center;
}

.error-description {
	margin: 0;
	color: var(--color-text-weak);
	text-align: center;
}
