:root {
	--stroke-strong: #004d3673;
	--text-strong: #00291de5;
	--fill-hover: #0066470a;
	--text-error: #c73838;
	--stroke-error-strong: #c73838cc;
	--fill-error-weak: #ff4d4d0d;
	--stroke-focus: #067a57;
}
