.container {
	position: relative;
	box-sizing: border-box;
	height: calc(100vh - 60px);
}

.button-container {
	position: absolute;
	bottom: 48px;
	left: 50%;
	z-index: 1000;
	display: flex;
	gap: 1rem;
	transform: translateX(-50%);
}

.loader-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media (width <= 768px) {
	.container {
		height: calc(100vh - 60px);
	}
}

@media (width <= 480px) {
	.button-container {
		bottom: 80px;
	}
}
